name: Make container a thing.

on:
  push:
    tags:
      - 'v*'
    paths-ignore:
      - '**.md'
      - '.github/workflows/**.yaml'
  workflow_dispatch:

jobs:
  build:
    name: Build and push to ghcr
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      actions: write
    defaults:
      run:
        working-directory: .
        shell: bash
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: ghcr.io/amitie10g/binfmt:latest
          platforms: arm64
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=ghcr.io/amitie10g/buildkit:master

      - name: SHA256 commit (short)
        id: commit
        uses: prompt/actions-commit-hash@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push to ghcr.io
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          pull: true
          push: true
          file: Containerfile
          tags: |
            ghcr.io/rubberverse/spacebar/server:latest
            ghcr.io/rubberverse/spacebar/server:${{ steps.commit.outputs.short }}
